* {
    box-sizing: border-box;
}

.cover {
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    height: 400px;
    background-size: contain;
    background-repeat: none;
}

.text {
    padding-top: 200px;
    padding-left: 20%;
    padding-right: 10%;
}

.cover h1 {
    font-size: 20px;
}

.cover p {
    font: 16px;
}

.text1 {
    padding: 30px;
    font-size: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.main img {
    width: 25%;
    height: 200px;
    padding: 10px;
}