/* @media only screen and (min-width: 576px) { */

#text-1 {
    display: none;
}

#text-2 {
    display: block;
}

#text-3 {
    display: none;
}

#text-4 {
    display: none;
}

#text-5 {
    display: none;
}

#text-6 {
    display: none;
}

body {
    background-color: aqua;
}


/* @media only screen and (max-width: 576px) { */


/* #text-1 {
        display: none;
    }
    #text-2 {
        display: block;
    }
    #text-3 {
        display: none;
    }
    #text-4 {
        display: none;
    }
    #text-5 {
        display: none;
    }
    #text-6 {
        display: none;
    }
    body {
        background-color: aqua;
    }
} */