.center {
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 1400px) {
    #text-1 {
        display: none;
    }
    #text-3 {
        display: none;
    }
    #text-4 {
        display: none;
    }
    #text-5 {
        display: none;
    }
    #text-2 {
        display: none;
    }
    #text-6 {
        display: block;
    }
    body {
        background-color: purple;
    }
}

@media only screen and (max-width: 1200px) {
    #text-1 {
        display: none;
    }
    #text-3 {
        display: none;
    }
    #text-4 {
        display: none;
    }
    #text-2 {
        display: none;
    }
    #text-5 {
        display: block;
    }
    #text-6 {
        display: none;
    }
    body {
        background-color: palevioletred;
    }
}

@media only screen and (max-width: 992px) {
    #text-1 {
        display: none;
    }
    #text-2 {
        display: none;
    }
    #text-3 {
        display: none;
    }
    #text-4 {
        display: block;
    }
    #text-5 {
        display: none;
    }
    #text-6 {
        display: none;
    }
    body {
        background-color: palegreen;
    }
}

@media only screen and (max-width: 768px) {
    #text-1 {
        display: none;
    }
    #text-2 {
        display: none;
    }
    #text-3 {
        display: block;
    }
    #text-4 {
        display: none;
    }
    #text-5 {
        display: none;
    }
    #text-6 {
        display: none;
    }
    body {
        background-color: purple;
    }
}

@media only screen and (max-width: 576px) {
    #text-1 {
        display: none;
    }
    #text-2 {
        display: block;
    }
    #text-3 {
        display: none;
    }
    #text-4 {
        display: none;
    }
    #text-5 {
        display: none;
    }
    #text-6 {
        display: none;
    }
    body {
        background-color: aqua;
    }
}